{:name "Glass Garden"
 :theme :umber
 :goal :build
 :speed 28.8
 :par 150
 :map ["........................"
       "........................"
       "........................"
       "........................"
       "...iiiiiiii..iiiiiiii..."
       ".....^....o..o....^....."
       "..........o..o.........."
       "..........o..o.........."
       "........................"
       "........................"
       "........................"
       "........................"
       ".....######..######....."
       ".....#,,,,,,,,,,,,#....."
       ".....#,,,,,,,,,,,,#....."
       ".....#,,,,,,,,,,,,#....."
       ".....#,,,,,,,,,,,,#....."
       ".....#,,,,,,,,,,,,#....."
       ".....##############....."
       "........................"
       "........................"
       "........................"
       "........................"
       "........................"]}
