{:name "Twin Gates"
 :theme :teal
 :goal :clear
 :speed 28.8
 :par 120
 :rotate 15.0
 :map ["........................"
       "........................"
       "..???????..HH..???????.."
       "..???????..HH..???????.."
       "..???+???..HH..???+???.."
       "..???????..HH..???????.."
       "..???????..HH..???????.."
       "..???????..HH..???????.."
       "........................"
       "....#####..**..#####...."
       "........................"
       "........................"
       "..........^..^.........."
       "........................"
       "........................"
       "........................"
       "........................"
       "........................"
       "........................"
       "........................"
       "........................"
       "........................"
       "........................"
       "........................"]}
